<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Simple server: search results for $$$Make this dynamic$$$</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Search results</h1>
	<table>
		<thead>
			<tr>
				<th>File Name</th>
				<th>Id</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fileMap : ${resultList}">
				<td th:text="${fileMap}">File1.txt</td>
				<td th:text="${fileMap.value}">5t4124ed</td>
			</tr>
		</tbody>
	</table>
</body>
</html>